<h2>Tu perfil</h2>

Nombre: {{user.first_name}} <br>
Apellido: {{user.last_name}} <br>
Email: {{user.email}} <br>
Edad: {{user.age}} <br>
Rol: {{user.role}} <br>

<button type="button" class="btn btn-dark"><a href="../logout" style="text-decoration: none; color:white">Cerrar sesión</a></button>

